
<div>
  <div>
    <% if params[:query].present? %>
    <h1> This is who we found for you: "<%= params[:query] %>"</h1>

    <div class="row">
      <% @photographers.each do|photographer| %>
      <%= render photographer.searchable %>
      <% end %>
    </div>
  </div>

  <% else %>

  <div>
    <h1> Find a perfect match</h1>
    <div>
      <%= render @photographers %>
      <% end %>
    </div>
  </div>
</div>
<div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
