<div class="wrapper" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 50%), url(<%= "https://kitt.lewagon.com/placeholder/cities/#{@photographer.location}" %>); height: 320px; background-position: center; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="header-photographer">
            <div class="header-photographer-avatar text-center">
              <!-- <img src="" class="img-circle" width="160" alt="" /> -->
              <%= image_tag @photographer.user.avatar, class: "img-circle avatar" %>
            </div>
            <div class="header-photographer-infos text-center">
              <h1 class="full-name"><%= @photographer.user.full_name %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="first-row">
      <div class="row">
        <div class="col-xs-12 col-lg-8">
          <ul class="list-inline">
            <li>📍 I live in <%= @photographer.location.capitalize %></li>
            <li>💬 I can speak <%= @photographer.language %></li>
            <li>💰 My daily rate is <%= @photographer.daily_price %> €</li>
          </ul>
          <div class="description text-justify">
            <i class="fas fa-quote-left" id="quote-left" style="color: lightgray"></i>
            <p>I have been photographer amateur for 15 years. Feel free to contact me to save your moments ...I have been photographer amateur for 15 years. Feel free to contact me to save your moments ...I have been photographer amateur for 15 years. Feel free to contact me to save your moments ...</p>
            <i class="fas fa-quote-right " id="quote-right" style="color: lightgray"></i>
          </div>
          <p>My specialties</p>
          <ul class="list-inline">
            <% @photographer.categories.each do |category| %>
              <li><%= category.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-12 col-lg-4">
          <%= render 'appointments/new', photographer: @photographer, appointment: @appointment %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="cards-review">
        <div class="col-xs-12 col-lg-4">
          <div class="card-average">
            <p class="text text-center"><%= @photographer.user.first_name %> has <%= pluralize @photographer.reviews.size, "review" %></p>
             <p class="stars text-center">
              <% if @photographer.stars != nil %>
                <% @photographer.stars.times do %>
                  <i class="fas fa-camera" style="color: #900808"></i>
                <% end %>
                <% (5 - @photographer.stars).times do %>
                  <i class="fas fa-camera" style="color: lightgray"></i>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
        <% @photographer.reviews.each do |review| %>
          <div class="col-xs-12 col-lg-4">
            <div class="card-review">
              <div class="review-star">
                <p><% review.stars.times do %><i class="fas fa-camera" style="color: #900808"></i><% end %></p>
              </div>
              <div class="review-content">
                <p><%= review.content %></p>
              </div>
              <div class="review-details">
                <p><%= review.appointment.user.first_name %>, <%= review.appointment.date %>, in <%= review.appointment.location %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <p>Some of my work</p>
      <% @photographer.photos.each do |photo| %>
        <div class="col-xs-12 col-lg-4">
          <%= image_tag photo.url, class: "gallery" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

